<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('Front/assets/images/favicon.ico')}}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('Front/assets/css/bootstrap.min.css')}}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{{ asset('Front/assets/css/icon-font.min.css')}}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ asset('Front/assets/css/plugins.css')}}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ asset('Front/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('Front/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('Front/bower_components/font-awesome/css/font-awesome.min.css')}}'">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('Front/bower_components/Ionicons/css/ionicons.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('Front/dist/css/AdminLTE.min.css')}}'">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('Front/dist/css/skins/_all-skins.min.css')}}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ asset('@FOSCommentBundle/Resources/public/css/comments.css') }}" type="text/css" />




    <!-- Modernizer JS -->
    <script src="{{ asset('Front/assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
    <style id='tribe-events-calendar-style-inline-css' type='text/css'>
        .tribe-events-list .tribe-events-loop .tribe-event-featured,
        .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
            background-color: #0ea0d7;
        }

        #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
            background-color: #0ea0d7;
        }

        .tribe-events-list-widget .tribe-event-featured,
        .tribe-events-venue-widget .tribe-event-featured,
        .tribe-mini-calendar-list-wrapper .tribe-event-featured,
        .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
            background-color: #0ea0d7;
        }

        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
            background-color: rgba(14,160,215, .7 );
            border-color: #0ea0d7;
        }

        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
            background-color: #0ea0d7;
        }

        .tribe-button {
            background-color: #0ea0d7;
            color: #fff;
        }

        .tribe-button:hover,
        .tribe-button:active,
        .tribe-button:focus {
            background-color: #096b8f;
        }

        #tribe-events .tribe-event-featured .tribe-button:hover {
            color: #053547;
        }

        .tribe-events-list .tribe-events-event-cost span {
            background-color: #eeeeee;
            border-color: #c7c7c7;
            color: #333333;
        }

        #tribe-events .tribe-events-calendar td.tribe-events-othermonth,
        #tribe-events .tribe-grid-allday,
        #tribe-events .tribe-events-calendar td:hover {
            background-color: #f1f1f1;
        }

        #tribe-events .tribe-events-calendar td,
        #tribe-events .tribe-week-grid-block div,
        #tribe-events .tribe-events-grid,
        #tribe-events .tribe-grid-allday,
        #tribe-events .tribe-events-grid .tribe-scroller,
        #tribe-events .tribe-events-grid .tribe-grid-body .column,
        #tribe-events .tribe-events-grid .tribe-grid-allday .column {
            border-color: #d2d2d2;
        }

        .events-archive.events-gridview #tribe-events-content table .type-tribe_events,
        .tribe-events-shortcode .tribe-events-month table .type-tribe_events {
            border-color: #e4e4e4;
        }

        .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"],
        .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
            background-color: #d2d2d2;
        }

        .tribe-events-calendar div[id*="tribe-events-daynum-"],
        .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
            background-color: #acacac;
        }

        .tribe-events-calendar thead th,
        .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column,
        .tribe-grid-header {
            background-color: #464646;
            border-left-color: #464646;
            border-right-color: #464646;
        }

        #tribe-events td.tribe-events-present div[id*="tribe-events-daynum-"],
        #tribe-events td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
            background-color: #21759b;
            color: #fff;
        }

        #tribe-events .tribe-events-grid .tribe-grid-header div.tribe-week-today {
            background-color: #21759b;
        }

        .tribe-grid-allday .tribe-events-week-allday-single,
        .tribe-grid-body .tribe-events-week-hourly-single,
        .tribe-grid-allday .tribe-events-week-allday-single:hover,
        .tribe-grid-body .tribe-events-week-hourly-single:hover {
            background-color: #21759b;
            background-color: rgba( 33, 117, 155, .75 );
            border-color: #14455c
        }


        .single-tribe_events .tribe-events-event-meta {
            background-color: #e5e5e5;
            color: #333333;
        }

        .tribe-events-single-event-title {
            color: #333;
        }
        .navbar-nav > .user-menu > .dropdown-menu {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            padding: 1px 0 0 0;
            border-top-width: 0;
            width: 300px;
            font-size: 14px;
            font-weight: 600;
        }
        .navbar-nav > .user-menu > .dropdown-menu,
        .navbar-nav > .user-menu > .dropdown-menu > .user-body {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
            height: 175px;
            padding: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
        }
        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
            z-index: 5;
            height: 90px;
            width: 90px;
            border: 3px solid;
            border-color: transparent;
            border-color: rgba(255, 255, 255, 0.2);
        }
        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
            z-index: 5;
            color: #fff;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 600;
        }
        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
            display: block;
            font-size: 12px;
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-body {
            padding: 15px;
            border-bottom: 1px solid #f4f4f4;
            border-top: 1px solid #dddddd;
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
        .navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
            content: " ";
            display: table;
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
            clear: both;
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
            color: #444 !important;
        }
        @media (max-width: 991px) {
            .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
                background: #fff !important;
                color: #444 !important;
            }
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
            background-color: #f9f9f9;
            padding: 10px;
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
        .navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
            content: " ";
            display: table;
        }
        .navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
            clear: both;
        }


        .header-links a span {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden; }
        .header-account-links a span {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden; }


    </style>


</head>

<body>


{% block Header %}




<!-- Header Section Start -->
<div class="header-section section">

    <!-- Header Top Start -->
    <div class="header-top header-top-one header-top-border pt-10 pb-10">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col mt-10 mb-10">
                    <!-- Header Links Start -->
                    <div class="header-links">

                        <a href="store.html"><img src="{{ asset('Front/assets/images/icons/marker.png')}}" alt="Car Icon"> <span>localiser Nos points de collect</span></a>
                    </div><!-- Header Links End -->
                </div>

                <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                    <!-- Header Advance Search Start -->
                    <div class="header-advance-search">


                    </div><!-- Header Advance Search End -->
                </div>

                <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                    <!-- Header Account Links Start -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                            <li class="dropdown user user-menu" style="font-size: 14px;
            font-weight: 600;">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >


                                    <span >{{ '%username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                                </a>


                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <ul class="user-body">
                                        <li ><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons" style="padding-right:10px">&#xe00c;</i>Profile</a></li>
                                        <li><hr></li>
                                        <li ><a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons" style="padding-right:10px">&#xe8b8;</i>Paramétres</a></li>
                                        <li><hr></li>
                                        <li ><a href="#"><i class="material-icons" style="padding-right:10px">&#xe854;</i>Mes Commandes</a></li>
                                        <li><hr></li>
                                        <li><a href="{{ path('affichemesevenements') }}"><i class="material-icons" style="padding-right:10px">&#xe616;</i>Mes Evenements</a></li>

                                    </ul>
                                    <!-- Menu Body -->

                                    <!-- Menu Footer-->
                                    <li class="user-footer">

                                        <div class="pull-right">
                                            <a href="{{ path('fos_user_security_logout') }}" > <i class="icofont icofont-logout"></i>Déconnexion </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>




                        {% else %}
                            <a href="{{ path('fos_user_registration_register') }}"><i class="icofont icofont-user-alt-7"></i> <span>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</span></a>
                            <a href="{{ path('fos_user_security_login') }}"><i class="icofont icofont-login"></i> <span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span></a>
                        {% endif %}

                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div><!-- Header Account Links End -->
                </div>

            </div>
        </div>
    </div><!-- Header Top End -->

    <!-- Header Bottom Start -->
    <div class="header-bottom header-bottom-one header-sticky">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col mt-15 mb-15">
                    <!-- Logo Start -->
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="{{ asset('Front/assets/images/logo.png')}}" alt="Eco-System">
                            <img class="theme-dark" src="{{ asset('Front/assets/images/logo-light.png')}}" alt="Eco-System">
                        </a>
                    </div><!-- Logo End -->
                </div>

                <div class="col order-12 order-lg-2 order-xl-2 d-none d-lg-block">
                    <!-- Main Menu Start -->
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="{{ path('homepage') }}">Accueil</a></li>
                                <li class="active"><a href="{{ path('about') }}">A propos</a></li>
                                <li class="menu-item-has-children"><a href="">Produits</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="">Commensez vos achats</a>
                                            <ul class="sub-menu">
                                                <li><a href="category-1.html">Téléphones & Tablettes </a></li>
                                                <li><a href="category-2.html">INFORMATIQUE</a></li>
                                                <li><a href="category-3.html">ÉLECTROMÉNAGER</a></li>
                                            </ul>
                                        </li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                        <li class="menu-item"><a href="{{ path('event_ajoutevenement') }}">Ajoutez Annonce</a>
                                            {% endif %}

                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="{{ path('event_afficheeventuser') }}">Evénements</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="{{ path('event_afficheeventuser') }}">Liste Des Evénements</a>

                                        </li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li class="menu-item"><a href="{{ path('event_ajoutevenement') }}">Proposez Evénements</a>
                                        <li class="menu-item"><a href="{{ path('afficheWishlist') }}">Wishlist</a>

                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children"><a href="">BLOG</a>
                                    <ul class="sub-menu">
                                        <li><a href="">Consulter Les posts</a></li>
                                        <li><a href="">Ajouter post</a></li>
                                    </ul>
                                </li>

                                <li><a href="{{ path('contact') }}">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div><!-- Main Menu End -->
                </div>

                <div class="col order-2 order-lg-12 order-xl-12">
                    <!-- Header Shop Links Start -->
                    <div class="header-shop-links">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- Wishlist -->
                        <a href="wishlist.html" class="header-wishlist"><i class="ti-heart"></i> <span class="number">3</span></a>
                        <!-- Cart -->
                        {% endif %}
                    </div><!-- Header Shop Links End -->
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header Bottom End -->

</div><!-- Header Section End -->
{% endblock %}

{% block Containt %}
{% endblock %}

{% block Footer%}
<!-- Footer Section Start -->
<div class="footer-section section bg-ivory">

    <!-- Footer Top Section Start -->
    <div class="footer-top-section section pt-90 pb-50">
        <div class="container">

            <!-- Footer Widget Start -->
            <div class="row">

            </div><!-- Footer Widget End -->

            <div class="row">

                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div class="footer-widget">

                        <h4 class="widget-title">CONTACT INFO</h4>

                        <p class="contact-info">
                            <span>Address</span>
                            <br>Z.I. Chotrana II B.P. 160
                            Pôle Technologique El Ghazela - Ariana 2083
                        </p>

                        <p class="contact-info">
                            <span>Télephone</span>
                            <a href="tel:01234567890">50287104</a>
                            <a href="tel:01234567891">24955983</a>
                        </p>



                    </div>
                </div><!-- Footer Widget End -->

                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div class="footer-widget">

                        <h4 class="widget-title">CUSTOMER CARE</h4>

                        <ul class="link-widget">
                            <li><a href="{{ path('about') }}">About us</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_profile_show') }}">My Account</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">blog</a></li>
                            {% endif %}
                            <li><a href="{{ path('contact') }}">Contact</a></li>
                        </ul>

                    </div>
                </div><!-- Footer Widget End -->

                <!-- Footer Widget Start -->


                <!-- Footer Widget Start -->
                <div class="col-lg-3 col-md-6 col-12 mb-40">
                    <div class="footer-widget">

                        <h4 class="widget-title">LATEST TWEET</h4>

                        <div class="footer-tweet"></div>

                    </div>
                </div><!-- Footer Widget End -->

            </div>

        </div>
    </div><!-- Footer Bottom Section Start -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section">
        <div class="container">
            <div class="row">

                <!-- Footer Copyright -->
                <div class="col-lg-6 col-12">
                    <div class="footer-copyright"><p>&copy; Copyright, 2018 All Rights Reserved by <a href="">DARIN</a></p></div>
                </div>

                <!-- Footer Payment Support -->


            </div>
        </div>
    </div><!-- Footer Bottom Section Start -->

</div><!-- Footer Section End -->

<!-- Popup Subscribe Section Start -->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

{% endif %}
{% endblock %}
<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="{{ asset('Front/assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
<!-- Popper JS -->
<script src="{{ asset('Front/assets/js/popper.min.js')}}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('Front/assets/js/bootstrap.min.js')}}"></script>
<!-- Plugins JS -->
<script src="{{ asset('Front/assets/js/plugins.js')}}"></script>

<!-- Main JS -->
<script src="{{ asset('Front/assets/js/main.js') }}"></script>
<script>



        $(window).load(function() {
            $('.post-module').hover(function() {
                $(this).find('.description').stop().animate({
                    height: "toggle",
                    opacity: "toggle"
                }, 300);
            });
        });









</script>

{% block javascripts  %} {% endblock %}
</body>

</html>
