{% trans_default_domain 'FOSUserBundle' %}
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>INSCRIPTION</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li><a href="#">INSCRIPTION</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
        </div>

    </div>
</div><!-- Page Banner Section End -->
<div class="register-section section mt-90 mb-90">
    <div class="container">
        <div class="row">

            <!-- Register -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-register">

                    <h3>
                        Nous aurons besoin de votre inscription</h3>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div style="padding-top: 30px;">
        <input type="submit" value="{{ 'registration.submit'|trans }}" style="width: 100%;"/>
    </div>

                </div>
            </div>


            <div class="col-md-1 col-12 d-flex">

                <div class="login-reg-vertical-boder"></div>

            </div>
            <!-- Account Image -->
            <div class="col-md-5 col-12 d-flex">

                <div class="ee-social-login">
                    <h3>
                        Aussi, vous pouvez vous inscrire avec ...</h3>

                    <a href="/connect/facebook" class="facebook-login">Connectez-vous avec<i class="fa fa-facebook"></i></a>
                    <a href="/connect/google" class="google-plus-login">Connectez-vous avec<i class="fa fa-google-plus"></i></a>

                </div>

            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div><!-- Register Section End -->