{% for x in evenements %}
<div class="col-md-4 pb-30 pt-10" id="focus">
    <!-- Product Start -->

    <div class="column">
        <!-- Post-->
        <div class="post-module" >
            <!-- Thumbnail-->
            <div class="thumbnail">
                <div class="date">
                    {% if x.Prix == 0 %}
                    <div class="">Gratuit</div>
{% else %}
                    <div class="">{{ x.Prix }} DT</div>
    {% endif %}

                </div>
                <a href="{{ path('detailsevent',{'id':x.slug}) }}" ><img src="{{ asset('uploads/images/' ~ x.image) }} " style="width:  380px;"/></a>
            </div>
            <!-- Post Content-->
            <div class="post-content">
                <div class="category">{{ x.adresse }}</div>
                <h1 class="title">{{ x.nom }}</h1>
                <p >{{ x.dateDebut | date('Y-m-d') }}
                    - {{ x.dateFin | date('Y-m-d') }}</p>

                <div class="post-meta">
                    <span class="comments">
                        <i class="fa fa-user">

                        </i>

                        <a href="#">{{ x.OwnerUser.username }} </a>
                    </span>
                    <span class="timestamp">
                        <i class="fa fa-eye"></i>{{ x.nombrevu }} Vu</span></div>


            </div>
        </div>
    </div>

</div>

{% endfor %}

