{% extends 'layoutadmin.html.twig' %}
{% block title %}
    Admin
{% endblock %}
{% block Containt %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Liste des Utilisateurs

            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepageadmin') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li><a href="">Gestion des Utilisateurs</a></li>
                <li class="active">Liste des utilisateurs</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">



                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Etat</th>

                                    <th>-</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for x in users %}
                                    <tr>
                                        <td><img src="{{ asset('uploads/images/' ~ x.avatar) }} " style="width:  50px;"/></td>
                                        <td>{{ x.username }}</td>
                                        <td>{{  x.email}}</td>
                                        {% if x.enabled == 0 %}
                                        <td><select name="etat" class="nice-select" onchange="Update(this.options[this.selectedIndex].value,{{ x.id }});">
                                                <option value="0" selected>Disable</option>
                                                <option value="1">Enable</option>

                                            </select>
                                        </td>
                                            {% else %}
                                                <td>
                                                <select name="etat" class="nice-select" onchange="Update(this.options[this.selectedIndex].value,{{ x.id }});">
                                                    <option value="0" >Disable</option>
                                                    <option value="1" selected>Enable</option>

                                                </select>

                                        </td>

                                        {% endif %}

                                        <td><a data-toggle="modal" data-target="#exampleModal" onclick="onPressDelete ({{ x.id }})" ><i class="material-icons" >&#xE872;</i></a></td>


                                    </tr>
                                {% endfor %}
                                </tbody>


                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ff6b6b">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer un évenement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous bien supprimer cet évenement ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a   class="btn btn-primary" href="" id="btnDelete" style="background-color: #ff6b6b; border-color: white">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #1e7e34 ">
                    <h5 class="modal-title" id="exampleModalLabel">Succès!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Opération effectuée!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            })
        })

        function onPressDelete (id )
        {
            newLien = 'http://localhost:4040/EcoSystem/web/app_dev.php/event/admin/deleteuser/' + id;
            document.getElementById('btnDelete').href = newLien;
        }

        function Update(nb,id) {

            var urll='';

            if(nb == 0){

                urll ='http://localhost:4040/EcoSystem/web/app_dev.php/event/etatdisable/' +id;
            }
            else {

                 urll = 'http://localhost:4040/EcoSystem/web/app_dev.php/event/etatenable/' + id;
            }

            $.ajax({
                url: urll ,
                method: "GET",
                dataType: 'json',
                success: function(data, status){
                    $('#successModal').modal('show');

                }
            });
        };

    </script>

{% endblock %}